<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title> Add Testcases </title>
</head>

<body>
<form method = "post">
    {% csrf_token %}

    <h1> Add Questions </h1>

    {% if messages %}
        {% for message in messages %}
            <b> {{ message }}</b>
            <br>
        {% endfor %}
    {% endif %}

    <div>
        <label for="ques_id">Question ID</label>
        <input type="number", id = "ques_id", name = "ques_id">
    </div>

    <br>

    <div>
        <label for="input">Input</label>
        <input type="text", id = "input", name = "input">
    </div>

    <br>

    <div>
        <label for="output">Output</label>
        <input type="text", id = "output", name = "output">
    </div>

    <br>

    <div>
        <button type="submit">Add TestCase</button>
    </div>

</form>

<br>

</body>
</html>

